:root{
    --primary:#0B5563;
    --accent: #A2BCE0;
    --secondary:#5299D3;
}

.cap{
    text-transform: capitalize;
}
.titlebar{
    padding: 20px 0;
    color: var(--primary);
}
.u-list{
    line-height: 1.7
}
.u-list li{
    list-style-type: none;
    line-height: 2;
    
}
.u-list li:nth-child(odd){
   color: var(--secondary);
}
.h-100{
    height: 100%;
}
.pointer{
    cursor: pointer;
}
.light{
    color:white;
}
.data-card{
    width: 100%;
    overflow: hidden;
    padding: 12px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
}
.card-icon{
    border-radius: 5px;
    background-color: #A2BCE0;
    opacity: .7;
    color: var(--primary);
    height: 100%;
    width: 50px;
    font-size: 2ex;
    
}
.card-icon i{
    font-size: 20px;
}

/*staff and studentingo */
.page{
    width: 21cm;
    height: 27.7cm;
    padding: 16px;
    position: relative;
}
.institution{
    max-width: 17cm;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.institution .logo{
    width: 5.1cm;/*30%*/
    height: 5.1cm;
    margin: auto;
    

}
.institution .name{
    width: 11.9cm;/*70%*/
    color: var(--primary);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.center{
    text-align: center;
}
.doc-title{
    color: var(--primary);
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.page .info-text{
    color: #444242 !important;
    margin-top: 20px;
 }
 .info-text .mt-5{
    margin-top: 5px;
 }
 .doc-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
 }
 .content{
    max-width:800px;
    margin: auto;
    font-size: 12px;
    text-align: center;
    color:  #575555;
    padding-top: 10px;
 }
 .stamp-area{
    height: 350px;
 }
 .responsive-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
 }
 .h-200{
    height: 200px;
 }
 .mt-20{
    margin-top: 40px !important;
 }
 .pa-20{
    padding-right: 20px;
 }
 .right-text{
    text-align: right;
 }